<div class="grid-container">
    <div class="grid-item-1">
        <div class="category-container">
            <div class="item" *ngFor="let item of listCategory">
                <div class="flex-center justify-content-between">
                    <div class="flex-center">
                        <img src="{{item.url}}" class="img-rounded img-sm" alt="{{item.name}}">
                        <div class="ms-2 fs-875rem text-capitalize fw-light">{{item.name}}</div>
                    </div>
                    <div>
                        <span class="badge bg-gray-350 fw-light text-dark">
                            {{item.quantity}}
                        </span>
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                            class="hidden text-sm 2xl:block text-heading" height="1em" width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item-2">
        <div class="slider">
            <div class="list">
                <div class="item" *ngFor="let item of listCarousel">
                    <img src="{{item}}" alt="">
                </div>
            </div>
            <ul class="dots">
                <li class="active" (click)="onClick(0)"></li>
                <li (click)="onClick(1)"></li>
                <li (click)="onClick(2)"></li>
            </ul>
        </div>
    </div>
</div>

<div class="product__container mt-5">
    <div class="top-product__content">
        <div class="top-product__header">
            <div class="top-product__title">Top Products</div>
            <div class="top-product__sub">See all product</div>
        </div>
        <div class="top-product__inner">
            <div class="top-product__item" *ngFor="let item of listTopProduct">
                <div class="top-product__image">
                    <img [src]="item.image" alt="">
                </div>
                <div class="top-product__info">
                    <div class="top-product__name">
                        {{item.name}}
                    </div>
                    <div class="top-product__dsc">
                        {{item.description}}
                    </div>
                    <div class="top-product__price">
                        {{item.price}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flash-sales__content">
        <div class="flash-sales__title">
            Flash Sales
        </div>
        <!-- <div class="slider__container">
            <div class="item">
                <img [src]="currentImage" alt="">
            </div>
            <button class="btn-pre">
                <svg stroke="white" fill="black" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M217.9 256L345 129c9.4-9.4 9.4-24.6 0-33.9-9.4-9.4-24.6-9.3-34 0L167 239c-9.1 9.1-9.3 23.7-.7 33.1L310.9 417c4.7 4.7 10.9 7 17 7s12.3-2.3 17-7c9.4-9.4 9.4-24.6 0-33.9L217.9 256z">
                    </path>
                </svg>
            </button>

        </div> -->
    </div>
</div>
<!-- Collection -->
<div class="collection-container mt-5">
    <div class="collection__item" *ngFor="let item of listCollection">
        <img [src]="item" alt="">
    </div>
</div>
<!-- Feature -->
<div class="feature-category__container mt-5">
    <div class="feature-category__content" *ngFor="let item of listFeature">
        <div class="content__title">
            {{item.type}}
        </div>
        <div class="content__img">
            <img [src]="itm" alt="" srcset="" *ngFor="let itm of item.img">
        </div>
    </div>
</div>

<!-- Best Seller -->
<div class="seller__container mt-5">
    <div class="seller__content" *ngFor="let item of listSeller">

    </div>
</div>