<div class="grid-container">
    <div class="grid-item-1">
        <div class="category-container">
            <div class="item" *ngFor="let item of listCategory">
                <div class="flex-center justify-content-between">
                    <div class="flex-center">
                        <img src="{{item.url}}" class="img-rounded img-sm" alt="{{item.name}}">
                        <div class="ms-2 fs-875rem text-capitalize fw-light">{{item.name}}</div>
                    </div>
                    <div>
                        <span class="badge bg-gray-350 fw-light text-dark">
                            {{item.quantity}}
                        </span>
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                            class="hidden text-sm 2xl:block text-heading" height="1em" width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item-2">
        <div class="slider">
            <div class="list">
                <div class="item" *ngFor="let item of listCarousel">
                    <img src="{{item}}" alt="">
                </div>
            </div>
            <ul class="dots">
                <li class="active" (click)="onClick(0)"></li>
                <li (click)="onClick(1)"></li>
                <li (click)="onClick(2)"></li>
            </ul>
        </div>
    </div>
</div>

<div class="product__container mt-5">
    <div class="top-product__content">
        <div class="top-product__header">
            <div class="top-product__title">Top Products</div>
            <div class="top-product__sub">See all product</div>
        </div>
        <div class="top-product__inner">
            <div class="top-product__item" *ngFor="let item of listTopProduct">
                <div class="top-product__image">
                    <img [src]="item.image" alt="">
                </div>
                <div class="top-product__info">
                    <div class="top-product__name">
                        {{item.name}}
                    </div>
                    <div class="top-product__dsc">
                        {{item.description}}
                    </div>
                    <div class="top-product__price">
                        {{item.price}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flash-sales__content">
        <div class="flash-sales__title">
            Flash Sales
        </div>
        <!-- <div class="slider__container">
            <div class="item">
                <img [src]="currentImage" alt="">
            </div>
            <button class="btn-pre">
                <svg stroke="white" fill="black" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M217.9 256L345 129c9.4-9.4 9.4-24.6 0-33.9-9.4-9.4-24.6-9.3-34 0L167 239c-9.1 9.1-9.3 23.7-.7 33.1L310.9 417c4.7 4.7 10.9 7 17 7s12.3-2.3 17-7c9.4-9.4 9.4-24.6 0-33.9L217.9 256z">
                    </path>
                </svg>
            </button>

        </div> -->
    </div>
</div>
<!-- Collection -->
<div class="collection-container mt-5">
    <div class="collection__item" *ngFor="let item of listCollection">
        <img [src]="item" alt="">
    </div>
</div>
<!-- Feature -->
<div class="feature-category__container mt-5">
    <div class="feature-category__content" *ngFor="let item of listFeature">
        <div class="content__title">
            {{item.type}}
        </div>
        <div class="content__img">
            <img [src]="itm" alt="" srcset="" *ngFor="let itm of item.img">
        </div>
    </div>
</div>
<div class="plr mt-5 mb-5">
    <hr>
</div>
<!-- Best Seller -->
<div class="seller__header plr">
    Best Sellers
</div>
<div class="seller__container mt-4">
    <div class="seller__content" *ngFor="let item of listSeller">
        <img class="seller__img" [src]="item?.image" alt="" srcset="">
        <div class="seller__txt">
            <div class="seller__title">
                {{item?.name}}
            </div>
            <div class="seller__description">
                {{item?.description}}
            </div>
            <div class="seller__price">
                {{item?.price}}
            </div>
        </div>

    </div>
</div>
<!-- Hot sales -->
<div class="hot__container plr mt-5">
    <img src="https://chawkbazar.redq.io/_next/image?url=%2Fassets%2Fimages%2Fbanner%2Fbanner-1.jpg&w=3840&q=100"
        width="100%" height="auto">
</div>

<!-- New Arrival -->
<div class="seller__header plr">
    New Arrivals
</div>
<div class="seller__container mt-4">
    <div class="seller__content" *ngFor="let item of listSeller">
        <img class="seller__img" [src]="item?.image" alt="" srcset="">
        <div class="seller__txt">
            <div class="seller__title">
                {{item?.name}}
            </div>
            <div class="seller__description">
                {{item?.description}}
            </div>
            <div class="seller__price">
                {{item?.price}}
            </div>
        </div>

    </div>
</div>

<div class="plr mt-5 mb-5">
    <hr>
</div>
<!-- Top Brand -->

<!-- Policy -->
<div class="policy__container">
    <div class="policy__content">
        <div class="policy__item">
            <img class="policy__img" src="https://chawkbazar.redq.io/assets/images/feature/saving.svg" alt="">
            <div class="policy__context">
                <h3>Guaranteed Savings</h3>
                <div class="policy__description">
                    If you don’t make your membership fee in savings, we’ll refund the difference
                </div>
            </div>
        </div>
        <div class="policy__item">
            <img class="policy__img" src="https://chawkbazar.redq.io/assets/images/feature/risk-free.svg" alt="">
            <div class="policy__context">
                <h3>Try it risk-free</h3>
                <div class="policy__description">
                    If you don’t make your membership fee in savings, we’ll refund the difference
                </div>
            </div>
        </div>
        <div class="policy__item">
            <img class="policy__img" src="https://chawkbazar.redq.io/assets/images/feature/delivery.svg" alt="">
            <div class="policy__context">
                <h3>Super Fast Delivery</h3>
                <div class="policy__description">
                    If you don’t make your membership fee in savings, we’ll refund the difference
                </div>
            </div>
        </div>
        <div class="policy__item">
            <img class="policy__img" src="https://chawkbazar.redq.io/assets/images/feature/product.svg" alt="">
            <div class="policy__context">
                <h3>1000+ products priced at cost</h3>
                <div class="policy__description">
                    If you don’t make your membership fee in savings, we’ll refund the difference
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Season -->
<div class="season__container mt-5">
    <div class="season__content">
        <div class="season__item">
            <div class="img__container">
                <img class="season__img"
                    src="https://chawkbazar.redq.io/_next/image?url=%2Fassets%2Fimages%2Fcollection%2F1.jpg&w=1200&q=75"
                    alt="">
                <button class="season__button">View collection</button>

            </div>
            <div class="context__container mt-4">
                <h3>
                    New Spring Knits
                </h3>
                <div class="season__description">
                    Endlessly versatile new styles that say yes to spring. The season’s looking bright.
                </div>
            </div>
        </div>
        <div class="season__item">
            <div class="context__container mb-4">
                <h3>
                    Down To The Core
                </h3>
                <div class="season__description">
                    Endlessly versatile new styles that say yes to spring. The season’s looking bright.
                </div>
            </div>
            <div class="img__container">
                <img class="season__img"
                    src="https://chawkbazar.redq.io/_next/image?url=%2Fassets%2Fimages%2Fcollection%2F2.jpg&w=1200&q=75"
                    alt="">
                <button class="season__button">View collection</button>
            </div>
        </div>
        <div class="season__item">
            <div class="img__container">
                <img class="season__img"
                    src="https://chawkbazar.redq.io/_next/image?url=%2Fassets%2Fimages%2Fcollection%2F3.jpg&w=1200&q=75"
                    alt="">
                <button class="season__button">View collection</button>
            </div>
            <div class="context__container mt-4">
                <h3>
                    New Winter Knits
                </h3>
                <div class="season__description">
                    Endlessly versatile new styles that say yes to spring. The season’s looking bright.
                </div>
            </div>
        </div>
    </div>
</div>